        body {
            background-image: url("../img/fundo.svg");
            background-repeat: no-repeat, repeat-x;
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .container {
            background-color: white;
            padding: 2em;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }
        h1,h3 {
            text-align: center;
            color: #333;
        }
        label {
            display: block;
            margin-bottom: 1em;
            color: #555;
        }
        input[type="text"], input[type="password"] {
            width: calc(100% - 10px);
            padding: 0.5em;
            margin-top: 0.5em;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        input[type="submit"] {
            width: 100%;
            padding: 0.7em;
            border: none;
            border-radius: 5px;
            background-color: #1782ca;
            color: white;
            font-size: 1em;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        input[type="submit"]:hover {
            background-color: #04395e;
        }
        .links {
            text-align: center;
            margin-top: 1em;
        }
        .links a {
            text-decoration: none;
            color: #337ab7;
            margin: 0 0.5em;
        }
        .links a:hover {
            text-decoration: none;
            color: black;
        }
        .logado{
            color: white;
        }